footer {
	padding: 40px 0 30px;
	background: grey;
}

.footer_info {
	width: 293px;
}

/* .footer_logo {
	display: block;
	width: 230px;
	margin-bottom: 30px;
	 */
	


.footer_txt {
	margin-bottom: 30px;
	color: #fff;
	width: 400px;
	font-size: 20px;

}
.footer_copy {
	color:#fff;
	text-align: center;
	padding: 30px;
}

.footer_in {
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.footer_menu {
	width: 149px;

}

.footer_tit {
	color:#fff;
	font-weight: 700;
	margin-bottom: 40px;
} 

.footer_list li {
	margin-bottom: 20px;
	color:#fff;
} 

 .footer_imgs {
	 width: 150px; 
	height: 100px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
} 

 .footer_img {
	margin-bottom: 15px;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
	width: 310px; 
} 

.footer_img img {
	transition: 0.3s;
} 

.footer_img:hover img {
	transform: scale(1.1);

} 



.footer_img-wrap {
	flex-wrap: wrap;
}

.footer_info{
	width: 35%;
	padding-right: 10px;
}
.footlogo{
	width: 50px;
	height: 50px;
	display: block;
}